body {
  background: url("http://cdn.backgroundhost.com/backgrounds/subtlepatterns/argyle.png");
  background-repeat: repeat;
  color: #ffffff;
}

#weekday-text,
#date-text,
#time-text {
  font-family: "Dancing Script", cursive;
  font-size: 2.5em;
  text-align: center;
  margin-top: 1.6em;
}

#day,
#date,
#time {
  font-family: "Muli", sans-serif;
  font-size: 4em;
  text-align: center;
}
